@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 95vh !important;
  background: linear-gradient(to bottom, rgb(236, 232, 239), rgb(0, 0, 0));
  background-size: cover !important;
  background-color: black !important;
  padding-bottom: 80px;
  background-repeat: no-repeat !important;
  overflow: hidden;
  /* transition: all 0.3s; */
}

@media (min-width: 768px) {
  .content-vsl {
    max-width: 720px;
  }
}

/* Para telas acima de 380px */
@media (min-width: 380px) {
  .disk {
    width: 330px;
    height: 340px;
  }
  .old-disk {
    width: 330px;
    height: 330px;
  }
  .disk-container {
    width: 330px;
    height: 330px;
  }
  .old-disk {
    width: 330px;
    height: 330px;
  }
}

/* Para telas acima de 400px */
@media (min-width: 400px) {
  .disk-container {
    width: 340px !important;
    height: 340px !important;
  }
  .disk {
    width: 340px !important;
    height: 340px !important;
  }
  .old-disk {
    width: 340px !important;
    height: 340px !important;
  }
}

.splash-screen {
  position: fixed;
  display: flex;
  padding: 3%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0);
  font-size: 20px;
  text-align: center;
  transition: all 0.6s;
}

.container-logo {
  transition: none;
}

.splash-screen img {
  width: 20%;
  max-width: 400px;
}

.popups {
  position: fixed;
  display: flex;
  padding: 3%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 20px;
  text-align: center;
  transition: all 0.6s;
}

.anim-popup {
  opacity: 0 !important;
  transform: scale(0) !important;
}
.opacity-0 {
  opacity: 0;
}

.opacity-50 {
  opacity: 50%;
}

.popups h1 {
  color: #1ed760;
}

.balance-final {
  max-width: fit-content;
  font-size: 0px;
  margin-top: 5px;
  background-color: #1db954;
  border-radius: 15px;
  padding: 8px 10px;
  transition: all 5s;
  margin-bottom: 20px;
}

.balance-final h1 {
  color: white !important;
  margin: 0;
  font-weight: bold;
  font-size: 40px;
}

.popup1,
.popup2 {
  background-color: black;
  color: white;
  width: 400px;
  height: fit-content;
  border-radius: 10px;
  padding: 5%;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;
}

.popup2 {
  display: none;
}

.popup1 {
  display: flex;
}

.minus {
  position: absolute;
  color: white;
  right: 0;
}

/* Animação botão*/
@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}

.song-slider {
  width: 100%;
  position: relative;
}

.seek-bar {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.214);
  overflow: hidden;
  cursor: pointer;
}

.seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: -500px 0 0 510px white;
}

.progress-bar {
  position: absolute;
  top: 13px;
  left: 0;
  height: 5px;
  border-radius: 10px;
  background-color: transparent;
  z-index: 1;
  width: 100%;
}

.current-time,
.song-duration {
  font-size: 14px;
  color: white;
}

.controls {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* margin-top: 20px; */
  gap: 30px;
}

.play-btn {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.805);
  border: none;
}

.play-btn span {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translateY(-50%);
  width: 7px;
  height: 28px;
  border-radius: 2px;
  background-color: black;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  transition: 0.5s;
}

.play-btn span:nth-child(2) {
  left: 60%;
  transform-origin: center;
}

.play-btn.pause span:nth-child(2) {
  transform: translateY(-50%) scaleY(0);
}

.play-btn.pause span:nth-child(1) {
  width: 35%;
  left: 53%;
  transform: translate(-50%, -50%);
  border-radius: 0;
  clip-path: polygon(0 0, 100% 45%, 100% 45%, 0% 100%);
}

.play-btn.pause {
  animation: glow 2s linear infinite;
}

.btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.btn img {
  filter: invert(100%);
  opacity: 30%;
}

@keyframes glow {
  0% {
    box-shadow: 0;
    outline: solid 10px rgba(255, 255, 255, 0.1);
  }
  25% {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
    outline: solid 5px rgba(255, 255, 255, 0.1);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1);
    outline: solid 0px rgba(255, 255, 255, 0.1);
  }
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: black;
  width: 100%;
  height: fit-content;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 999;
  margin-bottom: 15px;
}

.top img {
  width: 100px;
  height: auto;
}

.top p {
  font-size: 20px;
  margin: 0px;
}

.balance {
  background-color: #1ed760;
  color: black;
  padding: 5px 20px;
  border-radius: 8px;
}

.content {
  padding: 5px 20px;
  overflow-x: hidden;
  transition: all 0.3s linear;
  /* display: none; */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.content-vsl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  /* transition: all 5s; */
  flex-direction: column;
  /* display: none; */
}
.vsl-c {
  transform: translateY(150%);
  border-radius: 10px;
  outline: solid 2px #1ed760;
  overflow: hidden;
}

.headline {
  width: 100%;
  max-width: 600px;
  transition: all 0.3s;
  /* background-color: red; */
}

.headline h1 {
  color: white;
  text-align: center;
  font-size: 25px;
  line-height: 1.5;
  padding-top: 12px;
  font-family: Montserrat;
  font-weight: bolder;
}

.disk-container {
  position: relative;
  width: 330px;
  height: 330px;
}

.disk,
.old-disk {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-size: cover;
}

.old-disk {
  background-image: url(assets/img/01.webp);
}

.music {
  display: flex;
  flex-direction: column;
  /* gap: 10px !important; */
  align-items: center;
}

.music-player {
  width: 100%;
}

.music-info {
  margin-top: 10px;
  color: white;
}

.music-info h2 {
  font-size: 20px;
  /* font-weight: bold; */
  margin: 0px;
}

.music-info p {
  font-size: 14px;
  margin: 0px;
  color: #b3b3b3;
}

.btn-init {
  display: block;
  width: 95%;
  max-width: 350px;
  font-family: sans-serif;
  padding: 10px;
  border-radius: 5px;
  background-color: #1ed760;
  text-decoration: none;
  color: black;
  border: none;
  font-weight: bolder;
  text-align: center;
  animation: none;
  transform: scale(1);
}

.btn-vsl {
  display: block;
  width: 95%;
  max-width: 350px;
  font-family: sans-serif;
  padding: 10px;
  border-radius: 5px;
  background-color: #1ed760;
  text-decoration: none;
  color: black;
  border: none;
  font-weight: bolder;
  text-align: center;
  animation: pulse 1.2s infinite;
}

.btn-cta {
  display: block;
  width: 95%;
  max-width: 350px;
  font-family: sans-serif;
  padding: 10px;
  border-radius: 5px;
  background-color: #1ed760;
  text-decoration: none;
  color: black;
  border: none;
  font-weight: bolder;
  text-align: center;
  animation: pulse 1.2s infinite;
}

.boxsaldo {
  background-color: #00ac05;
  border-radius: 8px;
  padding: 8px 10px;
  color: white;
}

.infomusic-left {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.rate-secion-full {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rate-section {
  margin-top: 22px !important;
  border-radius: 10px;
  width: 100%;
  height: auto;
  background-color: rgb(42, 42, 42);
  position: relative;
  padding: 12px;
  color: white;
  font-weight: 500;
  font-size: 18px;
  max-width: 380px;
  transition: transform 0s;
}

.rate-section {
  transform: scale(0); /* Estado normal do rate-section */
}

/* A classe no-transition é usada para remover transições temporariamente */
.no-transition {
  transition: none !important;
}

.rate-section.animate-scale {
  transition: transform 0.5s ease-out; /* Transição suave para a transformação */
}

.point {
  position: absolute;
  top: -9px;
  left: calc(50% - 7.5px);
  width: 20px;
  height: 20px;
  background-color: rgb(42, 42, 42);
  transform: rotate(45deg);
}
.rate-section .buttons {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.rate-section .buttons .like img {
  width: 25px;
  height: 25px;
  filter: invert(100%);
}

.rate-section .buttons .not-like img {
  margin-right: 8px;
  width: 15px;
  height: 15px;
  filter: invert(100%);
}

.rate-section .buttons .like {
  background-color: #00ac05;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  padding: 12px 0px;
  text-decoration: none;
  color: white;
}

.rate-section .buttons .like:active {
  background-color: #007b04;
}

.rate-section .buttons .not-like {
  background-color: red;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  padding: 12px 0px;
  text-decoration: none;
  color: white;
}

.rate-section .buttons .not-like:active {
  background-color: rgb(206, 0, 0);
}

@-webkit-keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

/*Abre CSS Notificações*/
/* Estilo base das notificações */
.notification {
  width: 350px;
  position: relative;
  display: flex;
  align-items: center;
  background: #fff;
  color: #363636;
  line-height: 1.3;
  will-change: transform;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  max-width: 350px;
  pointer-events: auto;
  padding: 12px 25px 12px 10px;
  border-radius: 8px;
  animation: slideIn 0.35s cubic-bezier(0.21, 1.02, 0.73, 1) 0s 1 normal
    forwards;
  margin: 0 auto;
  margin-bottom: 7px;
  z-index: 99999999999;
}

/* Animação de entrada das notificações */
@keyframes slideIn {
  0% {
    transform: translate3d(0, -100%, 0) scale(0.6);
    opacity: 0.5;
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}

/* Animação de saída das notificações */
@keyframes slideOut {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
    z-index: 0; /* Define a ordem de sobreposição durante a saída */
  }
  100% {
    transform: translate3d(0, -100%, 0) scale(0.6);
    opacity: 0;
    z-index: 0; /* Redefine a ordem de sobreposição após a saída */
  }
}

/* Ícone de check com SVG */
.check-icon {
  margin-right: 10px;
  width: 35px;
  height: 35px; /* Tamanho inicial do ícone */
  box-sizing: border-box;
  /* border-radius: 100%; */
  transform: scale(0.6); /* Define o ícone para a escala inicial da animação */
  transition: transform 0.3s ease-out; /* Adicionando uma transição de transformação */
}

.notification {
  background-color: rgb(43, 43, 43);
  color: white;
}

/* Contêiner de notificações */
#notificationContainer {
  position: fixed;
  z-index: 9999999999;
  top: 0; /* Alinhe o container ao topo */
  left: 50%; /* Alinhe horizontalmente ao centro */
  transform: translateX(-50%); /* Centralize horizontalmente o container */
  display: flex;
  flex-direction: column;
  padding-top: 70px;
}

/* CSS para a nova div que envolve as notificações */
#notificationWrapper {
  left: 0px;
  right: 0px;
  display: flex;
  position: absolute;
  transition: all 300ms cubic-bezier(0.21, 1.02, 0.73, 1) 0s; /* Adicionando a transição */
  transform: translateY(0px);
  top: 0px;
  justify-content: flex-end;
}

/* Estilo da mensagem de notificação */
.notification-message {
  font-weight: normal;
}
/*Fecha CSS Notificações*/
