@font-face {
  font-family: Gotham Rounded;
  src: url("font.otf") format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

/* Animação botão*/
@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}

.likes {
  margin: 8px 20px 0px 20px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.likes i {
  font-style: normal;
}

.btn-dislike {
  display: block; /* Torna o botão um elemento de bloco */
  width: 180px; /* Ocupa toda a largura disponível do contêiner */
  font-family: sans-serif;
  padding: 10px; /* Espaçamento interno do botão */
  background-color: white;
  text-decoration: none;
  color: black;
  font-weight: bolder !important;
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  text-align: center; /* Centraliza o texto */
}

.btn-dislike:hover {
  background-color: white;
  border-color: #000000;
  animation: none;
}

.btn-like {
  display: block; /* Torna o botão um elemento de bloco */
  width: 180px; /* Ocupa toda a largura disponível do contêiner */
  font-family: sans-serif;
  font-weight: 400;
  padding: 10px; /* Espaçamento interno do botão */
  background-color: #1b9ef8;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  border: none;
  text-align: center; /* Centraliza o texto */
  animation: pulse 1.2s infinite;
}

.btn-like:hover {
  background-color: #3fb2ff;
  color: white;
  border-color: #1b9ef8;
  animation: none;
}

.d-none {
  transition: all 0.5s;
  color: transparent !important;
  background-color: transparent !important;
}

body {
  padding: 0px;
  margin: 0px;
  margin-top: 50px;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  /*background-color: #ededed;*/
}

.btn-init {
  display: block; /* Torna o botão um elemento de bloco */
  width: 95%; /* Ocupa toda a largura disponível do contêiner */
  max-width: 350px;
  font-family: sans-serif;
  padding: 10px; /* Espaçamento interno do botão */
  border-radius: 5px;
  background-color: #1b9ef8;
  text-decoration: none;
  color: white;
  border: none;
  text-align: center; /* Centraliza o texto */
  /* animation: pulse 1.2s infinite; */
}

.btn-cta {
  display: block; /* Torna o botão um elemento de bloco */
  width: 95%; /* Ocupa toda a largura disponível do contêiner */
  max-width: 350px;
  font-family: sans-serif;
  padding: 10px; /* Espaçamento interno do botão */
  border-radius: 5px;
  background-color: #1b9ef8;
  text-decoration: none;
  color: white;
  border: none;
  text-align: center; /* Centraliza o texto */
  animation: pulse 1.2s infinite;
}

.container {
  padding: 10px;
  justify-content: center;
  margin-top: 56px;
  margin-bottom: 20px;
}

.container-ads {
  /*padding: 10px;*/
  justify-content: center;
  margin-top: 56px;
  max-width: 100%;
  padding: 0px;
}

.header {
  background-color: black;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.01);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
  z-index: 99999999;
}

.aviso {
  border-top: solid 1px rgba(161, 161, 161, 0.5);
  align-content: center;
  background-color: black;
  /*border-radius: 10px;*/
  /*border: solid 1px rgba(0, 0, 0, 0.2);*/
}

.balance-final {
  max-width: fit-content;
  font-size: 0px;
  margin-top: 5px;
  background-color: #00ac05;
  border-radius: 15px;
  padding: 8px 10px;
  color: white;
  transition: all 0.3s;
}

.balance-final .h1 {
  font-size: 1px;
}

#descad {
  padding-left: 10px;
}
.fotoetext {
  padding-top: 10px;
  display: flex;
  margin-left: 10px;
}

.fotoetext .descad h4 {
  font-size: 16px;
  color: white;
}

.fotoetext img {
  margin-right: 10px;
}

.aviso h1 {
  margin: 5px;
  font-size: 28px;
  text-align: center;
  color: white;
}

.aviso h4 {
  font-family: sans-serif;
  font-size: 14px;
  margin: 0px;
  line-height: 1.25;
  padding-right: 10px;
}

.aviso p {
  font-size: 12px;
  font-family: sans-serif;
  margin-top: 5px;
  color: rgb(213, 213, 213);
  line-height: 1.25;
  text-align: center;
}

.ads1-point {
  margin-bottom: 5px;
}
.navbar {
  position: relative;
  color: #000;
  background-color: black;
  border-top: solid 1px rgba(255, 255, 255, 0.5);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999999;
}

.nav-item {
  display: space-between;
  margin: 0;
  padding-right: 10%;
  padding-left: 10%;
}

#inicio {
  flex: 0.8; /* Ocupa 20% do espaço */
}

#shorts {
  flex: 1; /* Ocupa 20% do espaço */
}

#plus {
  flex: 1; /* Ocupa 20% do espaço */
  display: flex;
  justify-content: center; /* Centraliza o ícone dentro do espaço alocado */
  align-items: center;
}

#subs {
  flex: 1; /* Ocupa 20% do espaço */
}

#libs {
  flex: 1; /* Ocupa 20% do espaço */
}

.navbar svg {
  margin-top: 10px;
  color: black;
  font-size: 22px;
}

.navbar p {
  font-size: 10px;
  margin: 5px 0px 5px 0px;
}

.boxsaldo {
  background-color: #00ac05;
  border-radius: 8px;
  padding: 8px 10px;
  color: white;
}

.black {
  background-color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 10px 2px rgba(56, 22, 129, 0.5);
}

.yes {
  border-radius: 5px;
  font-size: 20px;
  background-color: #6ac92f;
  outline: none;
  text-decoration: none;
  color: black;
  border: none;
  border-bottom: 5px solid #408615;
}

.hide {
  display: none;
}
.animation {
  position: relative;
  border: none;
  border-bottom: 5px solid #408615;
}
.animation::before {
  content: "\f053";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  position: absolute;
  right: 20px;
  top: 18px;
  animation: shake 1.6s infinite;
}
.animation::after {
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  position: absolute;
  left: 20px;
  top: 18px;
  animation: shake 1.6s infinite;
}
@-webkit-keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

/*Abre CSS Notificações*/
/* Estilo base das notificações */
.notification {
  width: 350px;
  position: relative;
  display: flex;
  align-items: center;
  background: #fff;
  color: #363636;
  line-height: 1.3;
  will-change: transform;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  max-width: 350px;
  pointer-events: auto;
  padding: 12px 25px 12px 10px;
  border-radius: 8px;
  animation: slideIn 0.35s cubic-bezier(0.21, 1.02, 0.73, 1) 0s 1 normal
    forwards;
  margin: 0 auto;
  margin-bottom: 7px;
  z-index: 99999999999;
}

/* Animação de entrada das notificações */
@keyframes slideIn {
  0% {
    transform: translate3d(0, -100%, 0) scale(0.6);
    opacity: 0.5;
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}

/* Animação de saída das notificações */
@keyframes slideOut {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
    z-index: 0; /* Define a ordem de sobreposição durante a saída */
  }
  100% {
    transform: translate3d(0, -100%, 0) scale(0.6);
    opacity: 0;
    z-index: 0; /* Redefine a ordem de sobreposição após a saída */
  }
}

/* Ícone de check com SVG */
.check-icon {
  margin-right: 10px;
  width: 35px;
  height: 35px; /* Tamanho inicial do ícone */
  box-sizing: border-box;
  /* border-radius: 100%; */
  transform: scale(0.6); /* Define o ícone para a escala inicial da animação */
  transition: transform 0.3s ease-out; /* Adicionando uma transição de transformação */
}
.info-likes {
  color: white;
  padding: 8px 10px;
}
.notification {
  background-color: rgb(43, 43, 43);
  color: white;
  max-width: 300px;
}

/* Contêiner de notificações */
#notificationContainer {
  position: fixed;
  z-index: 9999999999;
  top: 0; /* Alinhe o container ao topo */
  left: 50%; /* Alinhe horizontalmente ao centro */
  transform: translateX(-50%); /* Centralize horizontalmente o container */
  display: flex;
  flex-direction: column;
  padding-top: 70px;
}

/* CSS para a nova div que envolve as notificações */
#notificationWrapper {
  left: 0px;
  right: 0px;
  display: flex;
  position: absolute;
  transition: all 300ms cubic-bezier(0.21, 1.02, 0.73, 1) 0s; /* Adicionando a transição */
  transform: translateY(0px);
  top: 0px;
  justify-content: flex-end;
}

/* Estilo da mensagem de notificação */
.notification-message {
  font-weight: normal;
}
/*Fecha CSS Notificações*/
